/* common shared styles */
   *{
    font-family: 'Open Sans', sans-serif;
   }
/* nav related styles */
nav{
    display: flex; justify-content: space-between;
}
.nav-titale{
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 

}

.oreng{ 
       color: #FD6E0A;
}
 nav  li{
    margin-right: 100px;
    list-style: none;
     
 }
 nav ul{
   display: flex;
   align-items: center;

 }
 nav a{
    text-decoration: none;
    color: #474747;
 }
 .btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px 35px;}
.header{
   background-color: #FFF8F3; 
   background-image:url('../header_bg.png');
   background-repeat: no-repeat;
   background-position: bottom right;
}
.banner{
  display: flex; 
}
.profile{width: 584px;
   height: 676px;
   flex-shrink: 0;

}
.banner-greeting{color: var(--Dark-02, #474747);
   font-size: 45px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;

}
.banner-title{
   
   color: var(--Dark-01, #181818);
   font-size: 85px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.about{
   width: 1140px;
   height: 550px;
   flex-shrink: 0;
   border-radius: 10px;
background: #FFF8F3;
text-align: center;
margin: 140px 700px;

}
.section-title{color: var(--Dark-01, #181818);
   text-align: center;
   font-size: 35px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.discrip{
   width: 827px;

color: var(--Dark-03, #757575);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.about-info-contain{
   display: flex;
   text-align: center;
   justify-content: space-around;
}
.description{

   color: var(--Dark-03, #757575);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
 padding: 15px 35px;

}
.whatido{
   padding: 15px 35px;
}
.skill-info{
   display: flex;
}
.skill-info{
     padding: 30px ;
     gap: 24px;
}